  .header{
    position: absolute;
    display: flex;
    width: 100%;
    height: 300px;
  }

  a{
    color:black;
    text-decoration: none;
  }
  .logo{
    margin-left: 70px;
  }
  .menu ul{
      display: flex;
      flex-direction: row;
      list-style-type: none;
      gap:50px;
      margin-top: 40px;
      margin-left: 30px;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      text-align: center; 
      text-decoration: none;


  }
 
  .bt1 a{
    font-weight: 700;
    color: black;
    text-decoration: none;
  }
 
  .bt1 {
    border: none;
    width: 100px;
    height: 40px; 
    border-radius: 10px ;
    background: rgb(60, 57, 57);
    margin-top: 30px;
    margin-left: 25px;
  }
